<h4>Convites</h4>
{{#if convites}}
<table class="striped">
    <thead>
        <tr>
            <th>Nome</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each convites as |convite|}}
        <tr>
            <td>{{convite.userNome}}</td>
            <td>
                <button
                    onclick="aceitarConvite('{{convite.userNome}}','{{convite.userId}}','{{convite.testeNome}}','{{convite.testeId}}')"
                    class="btn blue">
                    Aceitar
                </button>
                <button
                    onclick="recusarConvite('{{convite.userNome}}','{{convite.userId}}','{{convite.testeNome}}','{{convite.testeId}}')"
                    id="recusarBtn" class="btn red">
                    Recusar
                </button>
                </form>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{else}}
<p>Vcoê não tem convites ainda</p>
{{/if}}
{{#if testesAceitos}}
<table class="striped">
    <thead>
        <tr>
            <th>Nome do teste</th>
            <th>Nome do criador</th>
        </tr>
    </thead>
    <tbody>
        {{#each testesAceitos as |teste|}}
        <tr>
            <td>
                {{teste.testeNome}}
            </td>
            <td>
                {{teste.userNome}}
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{/if}}
<script src="/Javascript/convite.js"></script>