<!-- aside -->
<aside class="sidenav">
    <button class="close">Fechar</button>
    <div class="logo">
        <a href="/"><img src="/Imagens/logo-ally.svg" alt="Logo do Ally"></a>
    </div>

    <nav id="menu" class="main-nav" aria-label="Navegação principal">
        <ul class="navList">
            <li class="item">
                <a href="/dashboard"> <img src="/Imagens/IconeTestes.svg" alt="Ícone para ver testes"
                        aria-hidden="true">Dashboard</a>
            </li>
            <li class="item">
                <a href="/orientacoes"> <img src="/Imagens/IconeOrientacao.svg" alt="Ícone para ver Orientações"
                        aria-hidden="true">Orientações</a>
            </li>
            <li class="item">
                <a href="/calendario"> <img src="/Imagens/IconeCalendario.svg" alt="Ícone para ver Calendário"
                        aria-hidden="true">Agenda</a>
            </li>
            <li class="item">
                <a href="/configuracoes"> <img src="/Imagens/IconeConfiguracao.svg" alt="Ícone para ver Configurações"
                        aria-hidden="true">Configurações</a>
            </li>

        </ul>
    </nav>
</aside>
<!-- / aside -->

<!-- header -->
<header class="headerDashboard">
    <button class="menutoggle" aria-expanded="false">Menu</button>
    <h1>Dashboard</h1>
    <div class="utilities">
        <a tabindex="0" class="logout" href="/users/logout">Sair</a>
    </div>
</header>
<!-- /header -->


{{#if convites}}

<main id="conteudo" class="comConvites">
    <section class="dashboardTester">
        <div class="info">
            <h2>Olá {{nome}}!</h2>
            <p>Aqui é o espaço onde as empresas irão te convidar para realizar os testes. <br>Assim que o convite for
                enviado,
                aparecerá a solicitação.</p>
        </div>
        <div class="convites">
            <h3>Convites</h3>

            <table class="striped">
                <caption class="sr-only">Convites Recebidos</caption>
                <thead>
                    <tr>
                        <th>Nome do teste</th>
                        <th>Data</th>
                        <th>Hora</th>
                        <th class="sr-only">Ações</th>

                    </tr>
                </thead>
                <tbody>

                    {{#each convites as |convite|}}
                    <tr>
                        <td>{{convite.testeNome}}Teste Thais</td>
                        <td>17/11/2020</td>
                        <td>17:50</td>
                        <td class="btn-action">
                            <a class="blue" title="Abrir outra página com informações do teste"
                                href="/testes/{{convite.testeId}}/info">Aceitar</a>
                            <button
                                onclick="recusarConvite('{{convite.userNome}}','{{convite.userId}}','{{convite.testeNome}}','{{convite.testeId}}')"
                                id="recusarBtn" class="red">
                                Recusar
                            </button>
                        </td>
                    </tr>
                    {{/each}}

            </table>
        </div>


    </section>

</main>



{{!-- sem convites --}}
{{else}}

<main id="conteudo" class="semConvites">
    <section class="dashboardTester">
        <div class="info">
            <h2>Olá {{nome}}!</h2>
            <p>Aqui é o espaço onde as empresas irão te convidar para realizar os testes. Assim que o convite for
                enviado,
                aparecerá a solicitação.</p>
        </div>
        <div class="convites">
            <h3>Convites</h3>
            <p>Você ainda não possui nenhum convite.</p>
        </div>

    </section>
</main>
{{/if}}

{{!-- sem convites --}}




{{!-- {{#if testesAceitos}}

<div class="testes-realizados">
    <h3>Testes realizados</h3>
    <table class="striped">
        <thead>
            <tr>
                <th>Nome do teste</th>
                <th>Nome do criador</th>
            </tr>
        </thead>
        <tbody>
            {{#each testesAceitos as |teste|}}
            <tr>
                <td>
                    {{teste.testeNome}}
                </td>
                <td>
                    {{teste.userNome}}
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>


{{!-- {{/if}} --}} 
<script src="/Javascript/convite.js"></script>