<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="/Imagens/favicon.ico">
    <link rel="stylesheet" href="/CSS/theme.css">
    <title> {{teste.nome}} - Gravações e Anotações - Ally</title>
</head>


<body>

    {{> _skip_links}}
    
    <div id="dashboard">

{{!-- gravacoes --}}
            <!-- breadcrumbs -->
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Testes </a>
                    </li>
                    <li class="breadcrumb-item"><a href="/">{{teste.nome}}</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Gravações e Anotações</li>
                </ol>
            </nav>
            <!-- / breadcrumbs -->

            {{> _sidebar}}
     <section class="videoAnotacoes">
                <div class="video">
                    <iframe class="responsive-iframe" src="{{video.filePath}}" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>

                <div class="anotacoes">
                    <h2>Anotações</h2>

                    <ul>
                        {{#each anotacoes as |anotacao|}}
                        <li>
                            <span class="tempo">{{nomeVideo anotacao.data}}</span>
                            <p>{{anotacao.anotacao}}</p>
                        </li>
                         {{/each}}
                    </ul>
                </div>
            </section>