<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="/Imagens/favicon.ico">
    <link rel="stylesheet" href="/CSS/theme.css">
    <title>Cadastro - Ally</title>
</head>


<body>
    {{!-- skip links --}}
    <ul class="skip-links">

        <li><a href="#conteudo">Pular para conteúdo</a></li>
        <li><a href="#rodape">Pular para rodapé</a></li>

    </ul>
    {{!-- / skip links --}}

    <header id="logoLogin">
        <a href="/">
            <img src="/Imagens/logo-ally.svg" alt="Logo do Ally">
        </a>
    </header>



    <main id="conteudo">
        <section id="loginSection">
            <div class="container">
                <h1>Crie uma Conta</h1>

                {{!-- criar conta tester --}}
                {{#if tester}}
                <form action="/users/register/tester" method="POST">

                    <fieldset>
                        <legend class="sr-only">Informações para cadastro</legend>
                        <div class="campo">
                            <label for="nome">Nome</label>
                            <input placeholder="Como você quer ser chamado?" id="nome" type="text" name='nome'
                                value='{{tipoDiferente nome 'undefined'}}'>
                        </div>
                        <div class="campo">
                            <label for="email">Email</label>
                            <input placeholder="Insira seu e-mail" id="email" type="email" name='email'
                                value='{{tipoDiferente email 'undefined'}}'>
                        </div>

                        <div class="campo">
                            <label for="senha">Senha</label>
                            <input id="senha" type="password" name="senha" placeholder="Digite sua senha">
                            <p class="legend">Sua senha deve ter no mínimo 6 caracteres.</p>
                        </div>

                        <div class="campo">
                            <label for="senha2">Confirmar senha</label>
                            <input id="senha2" type="password" name="senha2" placeholder="Digite sua senha">
                        </div>



                    </fieldset>

                    <fieldset>
                        <legend>Apenas mais algumas informações</legend>
                        <div class="campo">
                            <label for="idade">Idade (opcional)</label>
                            <input min="16" placeholder="Insira sua idade" id="idade" type="number" name='idade'
                                value='{{tipoDiferente idade 'undefined'}}'>
                        </div>
                        <div class="campo">
                            <label for="profissao">Profissão (opcional)</label>
                            <input placeholder="Insira sua Profissão" id="profissao" type="text" name='profissao'
                                value='{{tipoDiferente profissao 'undefined'}}'>
                        </div>
                        <div class="campo">
                            <label for="deficiencia">Tipo de deficiência (opcional)</label>
                            <input id="deficiencia" type="text" name="deficiencia"
                                placeholder="Qual tipo de deficiência você possui? ">
                        </div>
                    </fieldset>

                    <div class="campo">
                        <input value="Criar Conta" type="submit">

                    </div>
                </form>
                {{!-- / criar conta tester --}}


                {{!-- criar conta empresa --}}
                {{else}}
                <form action="/users/register" method="POST">
                    <div class="campo">
                        <label for="nome">Nome</label>
                        <input placeholder="Como você quer ser chamado?" id="nome" type="text" name='nome'
                            value='{{tipoDiferente nome 'undefined'}}'>
                    </div>
                    <div class="campo">
                        <label for="email">Email</label>
                        <input placeholder="Insira seu e-mail" id="email" type="email" name='email'
                            value='{{tipoDiferente email 'undefined'}}'>
                    </div>
                    <div class="campo">
                        <label for="senha">Senha</label>
                        <div class="mostrar-senha">

                            <input class="active" id="senha" type="password" name="senha"
                                placeholder="Digite sua senha">
                            <span id="btn-senha" tabindex="0" aria-hidden="true">Mostrar</span>
                        </div>
                        <p class="legend">Sua senha deve ter no mínimo 6 caracteres.</p>

                    </div>
                    <div class="campo">
                        <label for="senha2">Confirmar senha</label>
                        <div class="mostrar-senha">
                            <input class="active" id="senha2" type="password" name="senha2"
                                placeholder="Digite sua senha">
                            <span id="btn-senha2" tabindex="0" aria-hidden="true">Mostrar</span>
                        </div>

                    </div>

                    <div class="campo">
                        <input value="Criar Conta" type="submit">
                    </div>
                </form>

                {{/if}}
                {{!-- /criar conta empresa --}}


                <div class="ou">Ou</div>
                <div class="google-btn">
                    <a aria-label="Link para entrar usando o google" href="/users/login/google">
                        <div class="google-icon-wrapper">
                            <img class="google-icon"
                                src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"
                                alt="Icone do Goole">
                        </div>
                        <span class="btn-text">Continuar com Google</span>
                    </a>
                </div>
                {{!-- <div class="npossui">
            Ja possui conta?<a href="/users/login">Entre aqui</a>
        </div>  --}}
            </div>
        </section>

    </main>


    <noscript>Seu navegador não dá suporte a javascript</noscript>
    <script>
        var inputPass3 = document.getElementById('senha'),
            inputPass4 = document.getElementById('senha2'),
            btn = document.getElementById('btn-senha'),
            btn2 = document.getElementById('btn-senha2');

        btn.onclick = function () {

            if (inputPass3.className == 'active') {
                inputPass3.setAttribute('type', 'text');
                btn.textContent = 'Esconder';
                inputPass3.className = '';
                btn.classList.add("btn-active");

            } else {
                inputPass3.setAttribute('type', 'password');
                btn.textContent = 'Mostrar';
                inputPass3.className = 'active';
                btn.classList.remove("btn-active");
            }

        }

        btn2.onclick = function () {
            if (inputPass4.className == 'active') {
                inputPass4.setAttribute('type', 'text');
                btn2.textContent = 'Esconder';
                inputPass4.className = '';
                btn2.classList.add("btn-active");

            } else {
                inputPass4.setAttribute('type', 'password');
                btn2.textContent = 'Mostrar';
                inputPass4.className = 'active';
                btn2.classList.remove("btn-active");
            }

        }
    </script>