<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="/Imagens/favicon.ico">
    <link rel="stylesheet" href="/CSS/theme.css">
    <title> {{teste.nome}} - Gravações e Anotações - Ally</title>
</head>


<body>

    {{> _skip_links}}

    <div id="dashboard">

        {{!-- gravacoes --}}
        <!-- breadcrumbs -->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Testes </a>
                </li>
                <li class="breadcrumb-item"><a href="/">{{teste.nome}}</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Gravações e Anotações</li>
            </ol>
        </nav>
        <!-- / breadcrumbs -->

        {{> _sidebar}}
        {{#if videos}}
        <section class="gravacoesAnotacoes">
            {{#each videos as |video|}}
            <a href="/testes/{{video.testeId}}/gravacoesanotcacoes/{{video._id}}">
                <div class="gravacao">
                    <img src="/Imagens/gravacaoPrint.svg" alt="" aria-hidden="true">
                    <div class="text">
                        <h2>Teste com {{video.userNome}} </p>
                            <p>Realizada em {{dataF video.createdAt}}</p>
                    </div>
                </div>
            </a>
            {{/each}}
        </section>
        {{!-- / gravacoes --}}
        {{else}}
        <h2>Teste</h2>
        {{/if}}