<h3>Convidar Testers</h3>
{{teste.nome}}
{{userCriador.nome}}
{{#if users}}
<table class="striped">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Convidar</th>
        </tr>
    </thead>
    <tbody>
        {{#each users as |user|}}
        <tr id="tr">
            <td>{{user.nome}}</td>
            <td>
                <input type="hidden" name="_method" value="POST">
                <button id='convidar' onclick="mandarConvite('{{user.nome}}')" class="btn blue">
                    <span>Convidar</span>
                </button>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{else}}
<p>Vcoê não tem testes ainda</p>
{{/if}}

<script src="/Javascript/convite.js"></script>